footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 0;
}
