body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 60px;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
}
