.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    width: 100%;
    margin: 30px 0 0 0;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
}

.places article h2 {
    font-size: 30px;
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    width: 100px;
    text-align: center;
}

.max_guest {
    background: url("../images/icon_group.png") no-repeat center top;
    padding-top: 55px;
}

.number_rooms {
    background: url("../images/icon_bed.png") no-repeat center top;
    padding-top: 55px;
}

.number_bathrooms {
    background: url("../images/icon_bath.png") no-repeat center top;
    padding-top: 55px;
}

.user {
    margin-top: 20px;
}

.user b {
    font-weight: bold;
}

.description {
    margin-top: 10px;
}
